* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 32px;
  color: blue;
  width: 100%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

.container {
  color: black;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 3fr);
}

.grid-box-1 {
  display: flex;
  justify-content: center;
  font-size: 28px;
  grid-column: 1/-1;
  grid-row: 1;
  background-color: rgb(185, 141, 141);
}

.grid-box-2 {
}
