* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 20px;
  font-weight: 600;
  color: #ec6262;
}

/* .second-para {
  color: #808080;
} */

.second-para:fullscreen {
  background-color: #a66e60;
}

.second-para:is(:fullscreen) {
  background-color: #80b807;
}

#fs-toggle:not(:fullscreen) {
  background-color: #afa;
}

#fs-toggle:fullscreen {
  background-color: #faa;
}
